/* game */

#game {
  height: 100%;
  width: 100%;
  background: #F4EEE7;
  position: absolute;
  z-index: 0;
}

#hidden-collapse-bar {
  height: 100%;
  width: 25px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}

#code-panel {
  height: 100%;
  /*background: #1A191A;*/
  background: rgba(26, 25, 26, 0.95);
  font-family: "Inconsolata", monospace;
  font-size: 13px;
  line-height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  /*display: none;*/
}

#code-panel .code-header {
  position: relative;
  height: 30px;
  width: 100%;
  background: #000000;
  text-align: center;
}

#code-panel .header-button {
  height: 42px;
  width: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -21px;
  margin-left: -21px;
  cursor: pointer;
}

#code-panel .head-icon-background {
  position: relative;
  height: 100%;
  width: 100%;
  background: #007A87;
}

.code-header .head-icon {
  height: 30px;
  width: 16px;
  padding: 3px 0 3px 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -15px;
}

#code-panel .code-container {
  height: calc(100% - 30px);
  padding: 14px 0 14px 14px;
}

#code-panel .code {
  height: calc(100% - 30px);
  padding: 0 14px 25px 0;
  overflow-y: scroll;
  width: 100%;
  outline: 0;
}

#code-panel .submit-button {
  height: 30px;
  width: calc(100% - 14px);
  padding: 6px;
  text-align: center;
  background: #ff5959;

  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
}

#code-panel .submit-button.ajax-in-progress { /* pacman throwback */
  background: #1A1A1A;
}

#code-panel .submit-button .interior {
  height: 100%;
  width: 100%;
}

.submit-button .loading-wheel {
  height: 16px;
}

#code-panel .submit-button:not(.ajax-in-progress):hover {
  background: #009D57;
}
