/* game */

#game {
  height: 100%;
  width: 100%;
  background: #F4EEE7;
}

#code-panel {
  height: 100%;
  background: #1A191A;
  font-family: "Inconsolata", monospace;
  font-size: 13px;
}

#code-panel .code-header {
  position: relative;
  height: 30px;
  width: 100%;
  background: #000000;
  text-align: center;
}

#code-panel .header-button {
  height: 42px;
  width: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -21px;
  margin-left: -21px;
  cursor: pointer;
}

#code-panel .head-icon-background {
  position: relative;
  height: 100%;
  width: 100%;
  background: #007A87;
}

.code-header .head-icon {
  height: 30px;
  width: 16px;
  padding: 3px 0 3px 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -15px;
}

#code-panel .code-container {
  height: calc(100% - 30px);
  padding: 10px 0 10px 10px;
}

#code-panel .code {
  height: calc(100% - 30px);
  padding: 0 10px 25px 0;
  overflow-y: scroll;
  width: 100%;
  outline: 0;
}

#code-panel .submit-button {
  height: 30px;
  width: calc(100% - 10px);
  padding: 8px;
  text-align: center;
  background: #009D57;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
}

#code-panel .submit-button:hover {
  background: #00d073;
}

/* gamelist */

.title-spot {
  margin-bottom: 40px;
}

.games-section {
  width: 20%;
  max-width: 700px;
  margin: auto;
}

.gamelist {
  height: 360px;
  width: 100%;
  color: #000000;
  padding: 20px;
  overflow-y: scroll;
}

.games-section {
  width: 65%;
}

[class*="game-button"] {
  border-radius: 40px;
  background-color: #e7e7e7;
  border: 3px solid #e7e7e7;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  transition: 0.3s;
}
[class*="game-button"]:first-child {
  background-color: #ffffff;
  border-color: #ffffff;
}

[class*="game-button"]:hover {
  background-color: #ffffff;
  border-color: #007A87;
}

.new-game-button {
  color: #ffffff;
  background-color: #EF3E42;
  border-color: #EF3E42;
}

.new-game-button:hover {
  background-color: #009D57;
  cursor: pointer;
}
