<div class="lint">
  <span class="comment">
    /* LESSON 2.2: MATH REVIEW <br>
    &nbsp;* In this lesson, we will learn about modulo, division and exponentiation <br>
    <br>
    &nbsp;* <span class="var">Exponentiation (^), Division (/) and Modulo (%) </span><br>
    &nbsp;* Exponentiation deals with raising numbers to certain powers, for example 2 raised to the power 3 , 2^3 is 8. This is mathematically equivalent to 2*2*2 <br>
    <br>
    &nbsp;* Division in programming is quite different considering the numbers involved the operation. We could either have integers (positive or negative numbers) or decimal numbers, normally referred to as floats in the coding community. Normally when both numbers are integers the result is an integer floored to the lower bound value of the result, especially in Python. For example, 3/2 is 1 if applying integer division. Normal division as we know it happens when we specify the numbers as decimals or use languages that use integer division as default (Java, C, etc). For example 3.0/2 = 1.5 <br>
    <br>
    &nbsp;* Modulo in programming is like modulo arithmetic that we learnt in grade school. When we divide two integers we will have an equation that looks like the following: <br>
    &nbsp; A/B = Q remainder R , A is the dividend, B is the divisor, Q is the quotient, R is the remainder. Using the same A,B,Q, and R as above , we would we would have A mod B = R. For example: 13/5 = 2 remainder 3 is equivalent to 13 mod 5 = 3 <br>
    <br>

  <span class="comment">// once all answers are right, avatar will jump 3 times! </span> <br>
  <br>

  &nbsp;* Calculate their value and enter your result in the space provided <br>
  </span> <br>

  <span class="var">var</span> modOne = 100 mod 8 <br>
  <span class="var">var</span> modTwo = -25 mod 12 <br>
  <span class="var">var</span> divOne = 550 / 22 (integer division) <br>
  <span class="var">var</span> divTwo = 120.4 / 12 <br>
  <br>

  <span class="comment">Enter your answers below</span><br>
  <span class="var">var</span> answers = { <br>
  <p data-coords="x">
    &nbsp; &nbsp; modOne: <span class="comment">// insert your answer here</span>
  </p>

  <p data-coords="x">
    &nbsp; &nbsp; modTwo: <span class="comment">// insert your answer here</span>
  </p>

  <p data-coords="x">
    &nbsp; &nbsp; divOne: <span class="comment">// insert your answer here</span>
  </p>

  <p data-coords="x">
    &nbsp; &nbsp; divTwo: <span class="comment">// insert your answer here</span>
  </p>




  }; <br> <br>
 
</div>