<div class="lint">
  <span class="comment">
    /* LESSON 2.1: MATH REVIEW <br>
    &nbsp;* We will now learn about basic artihmetic operations:
    &nbsp;* <span class="var">Addition(+), Subtraction (-), Multiplication (*), exponentiation (^), Division (/) and Modulo (%) </span><br>
    &nbsp;* I'm sure you're pretty familiar with - and * but / and % work rather differently from what you're used to <br>
    &nbsp;* In this lesson, we will just go over some basic operations and in the next, we will cover more complex operations<br>
    &nbsp;* Below are a list of variables that are assigned to particular mathematical expressions<br>
    &nbsp;* Calculate their value and enter your result in the space provided <br>
  </span> <br>

  <span class="comment">// once all answers are right, avatar will jump 3 times! </span> <br>
  <span class="var">var</span> addOne = 25 + 4456 <br>
  <span class="var">var</span> addTwo = -15 + 12 <br>
  <span class="var">var</span> addThree = -127 + 101 <br>
  <span class="var">var</span> subOne = 25 - 4456 <br>
  <span class="var">var</span> subTwo = -15 - 12 <br>
  <span class="var">var</span> subThree = -127 - 101 <br>
  <span class="var">var</span> mulOne = 33 * 22 <br>
  <span class="var">var</span> mulTwo = -12 * 7 <br>
  <br>

  <span class="comment">Enter your answers below</span><br>
  <span class="var">var</span> answers = { <br>
  <p data-coords="x">
    &nbsp; &nbsp; addOne: <span class="comment">// insert your answer here</span>
  </p>

    <p data-coords="x">
    &nbsp; &nbsp; addTwo: <span class="comment">// insert your answer here</span>
  </p>

  <p data-coords="x">
    &nbsp; &nbsp; addThree: <span class="comment">// insert your answer here</span>
  </p>

  <p data-coords="x">
    &nbsp; &nbsp; subOne: <span class="comment">// insert your answer here</span>
  </p>

  <p data-coords="x">
    &nbsp; &nbsp; subTwo: <span class="comment">// insert your answer here</span>
  </p>

  <p data-coords="x">
    &nbsp; &nbsp; subThree: <span class="comment">// insert your answer here</span>
  </p>

  <p data-coords="x">
    &nbsp; &nbsp; mulOne: <span class="comment">// insert your answer here</span>
  </p>

    <p data-coords="x">
    &nbsp; &nbsp; mulTwo: <span class="comment">// insert your answer here</span>
  </p>


  }; <br> <br>
 
</div>