<!-- game view -->
<script src="js/game_view.js"></script>

<div class="game-wrapper">

  <!-- collapsible -->
  <div id="hidden-collapse-bar" data-action="panel-toggle">&nbsp;</div>

  <!-- code panel -->
  <div id="code-panel" class="col col-4 right">
    <div class="code-header">
      <div class="header-button">
        <div class="head-icon-background circle">
          <img class="head-icon" src="img/spaceship.svg" />
        </div>
      </div>
    </div>
    <div class="code-container">
      <div id="code-submission" class="code" contenteditable="true">
        <!-- pull appropriate panel -->
        {{{stagePanel stage}}}
      </div>

      <div class="submit-button rounded" data-action="code-submit">submit</div>
    </div>
  </div>
  
  <!-- game pane -->
  <div id="game">
    <!-- Phaser Game (based on stage) Goes Here -->
      <script src="js/game/utopia-{{stage}}.js"></script>
  </div>
</div>
