<!-- index page -->
<div class="index-wrapper image-background flex-center">
  <div>
    <h1 class="title">project utopia</h1>
    <img class="spaceship-img" src="img/spaceship.svg" />
  </div>
</div>
