<div class="login-wrapper">

  <h1>login</h1>

  <div class="auth-container">
    <form action="/login" method="post">
      <input type="text" name="email" placeholder="example@mail.com" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit">enter</button>
    </form>
  </div>

  <p>Don't have an account yet? <a href="/signup">Sign-up</a>.</p>
</div>