<div class="login-wrapper">

  <h1>login</h1>

  <div class="auth-container">
    <form action="/login" method="post">
      <input name="email" />
      <input name="password" />
      <button>enter</button>
    </form>
  </div>

  <a href="/signup">Don't have an account yet?</a>
</div>