<script src="js/auth_view.js"></script>

<div class="signup-wrapper flex-center">
  <div class="auth-modal">
    <div class="top-section">
      <img class="main-logo" src="img/spaceship.svg" />
    </div>

    <div class="form-section flex-center">
      <form class="signup-form" action="/signup" method="POST">
        <div class="input-wrapper" data-type="email">
          <input name="email" type="text" placeholder="email" />
        </div>

        <div class="input-wrapper" data-type="name">
          <input name="name" type="text" placeholder="first last" />
        </div>

        <div class="input-wrapper" data-type="password">
          <input name="password" type="password" placeholder="password" />
        </div>
      </form>
    </div>

    <div class="bottom-section">
      <div id="signup" class="auth-button circle">&nbsp;</div>
      <p class="foot-tag">Already have an account? <a href="/login">Log in, here.</a></p>
    </div>

  </div>
</div>