<!DOCTYPE html>
<html>
  <head>
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Project Utopia
      {{/if}}
    </title>
    {{>head_intercom}}
  </head>

  <body>
    <div id="__titlebar__">&nbsp;</div>
    <div id="__window__">
      <!-- {{>nav}} -->
      <main>
        {{{body}}}
      </main>
    </div>

    <div class="circle intercom-box">
      <div class="intercom-button-wrapper">
        <img src="img/spaceship.svg" class="spaceship-img" />
      </div>
    </div>

  </body>

</html>
