<!DOCTYPE html>
<html>
  <head>
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Project Utopia
      {{/if}}
    </title>
    {{>head_main}}
  </head>

  <body>
  <div id="__titlebar__">&nbsp;</div>
    <div id="__window__">
      <!-- {{>nav}} -->
      <main>
        {{{body}}}
      </main>
    </div>
  </body>

</html>
